
#banner {
    background-image: url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 600px;
    position: relative;
}

#ariel {
    width: 20em;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}